* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: black;
    color: azure;    
}

input {
    display: none;
}

label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bayan {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.wrapper {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

.memePhoto {

    display: flex;
    justify-content: center;
}

.plusIcon {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ANIMATIONS */

.meme .memePhoto img {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;

    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.meme input:checked ~ label {
    color:#0499ff;
}

.meme input:hover ~ label {
    color:#0499ff;
}

.meme input:checked ~ .memePhoto img {
    max-height: 500px;
    max-width: 500px;
    transition: 1s ease-in-out;

    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.meme input:checked ~ label .plusIcon  {
    transition: 0.5s;
    transform: rotate(45deg);
}

label .plusIcon {
    transition: 0.5s;
}

/* MEDIA QUERIES */

/* MOBILE */
@media only screen and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }
    h1 {
        margin-bottom: 0.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    .bayan {
        margin: 1rem        
    }

  }
  
  /* TABLET */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        width: 80%;
    }
    h2 {
        font-size: 1.5rem;
    }
  }
  
  /* DESKTOP */
  @media only screen and (min-width: 1024px) {
    .wrapper {
        width: 60%;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
  }